@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#cm-custommerce-product {
  font-family: "Open Sans", sans-serif;
  color: rgb(21, 21, 21);
  line-height: 1.2;
  margin: 0 auto;
  max-width: 1440px;
}

.cm-container {
  max-width: 1200px;
  margin: 0 auto;
}
.cm-container .cm-product-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5.31em 0 2.75em;
}
.cm-container .cm-product-logo img {
  max-width: 50%;
}
.cm-container .cm-top-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 16px;
}
.cm-container .cm-top-banner .cm-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cm-container .cm-top-banner .cm-card img {
  max-width: 100%;
  border-radius: 16px;
}
.cm-container .cm-top-banner .cm-card .cm-background {
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(72, 72, 72, 0)), to(#0e0e0e));
  background-image: linear-gradient(180deg, rgba(72, 72, 72, 0) 0%, #0e0e0e 100%);
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.cm-container .cm-top-banner .cm-card .cm-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.cm-container .cm-top-banner .cm-card .cm-row .cm-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-title {
  position: absolute;
  left: 2.95em;
  bottom: 3.7em;
  width: 50%;
  color: white;
}
.cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-title h1 {
  font-size: 3em;
  font-weight: 700;
  margin: 0 0 0.6em 0;
}
.cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-title .cm-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.25em;
  gap: 15px;
}
.cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-title .cm-info p {
  margin: 0;
}
.cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-packshot {
  position: absolute;
  bottom: -110px;
}
.cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-packshot img {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.cm-container .cm-article {
  max-width: 1107px;
  margin: 9.5em auto 0 auto;
}
.cm-container .cm-article .cm-title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cm-container .cm-article .cm-title-section .title-info p {
  font-size: 1.1em;
  letter-spacing: 0.9px;
  font-weight: 700;
  text-transform: uppercase;
}
.cm-container .cm-article .cm-title-section .hr {
  margin-top: 1.25em;
  border: 1px solid rgb(21, 21, 21);
  height: 1px;
  width: 11em;
}
.cm-container .cm-article .cm-title-section .title {
  margin-top: 1.625em;
}
.cm-container .cm-article .cm-title-section .title h2 {
  text-align: center;
  font-size: 2em;
  line-height: 1.3em;
}
.cm-container .cm-article .cm-title-section .short-description {
  max-width: 641px;
  margin: 0 auto;
  text-align: center;
  margin-top: 2em;
}
.cm-container .cm-article .cm-title-section .short-description p {
  font-size: 1.25em;
  line-height: 1.6em;
}
.cm-container .cm-article .cm-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4em;
  margin-bottom: 4em;
}
.cm-container .cm-article .cm-images .cm-section-img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
  overflow: hidden;
}
.cm-container .cm-article .cm-images .cm-section-img .cm-img {
  position: relative;
  max-width: 300px;
  max-height: 300px;
  z-index: 1;
  cursor: pointer;
}
.cm-container .cm-article .cm-images .cm-section-img .cm-img img {
  width: 100%;
}
.cm-container .cm-article .cm-images .cm-section-img .cm-img-background {
  position: absolute;
  left: -100%;
  top: 0;
  background-color: #707070;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.cm-container .cm-article .cm-images .cm-section-img .cm-img-title {
  position: absolute;
  bottom: 0.8em;
  left: 0.8em;
  font-size: 1.625em;
  font-weight: 700;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.cm-container .cm-article .cm-images .cm-section-img .cm-img-description {
  margin-top: 2em;
  font-size: 1em;
  text-align: center;
  line-height: 1.625em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  opacity: 0;
}
.cm-container .cm-article .cm-images .cm-section-img:hover .cm-img-background {
  left: 0;
}
.cm-container .cm-article .cm-images .cm-section-img:hover .cm-img-description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.cm-container .cm-article .cm-images .cm-section-img:hover .cm-img-title {
  bottom: -100px;
  opacity: 0;
}
.cm-container .cm-article .cm-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6em;
  margin-top: 4em;
  margin-bottom: 7em;
}
.cm-container .cm-article .cm-product .cm-product-img {
  width: 100%;
}
.cm-container .cm-article .cm-product .cm-product-img img {
  max-width: 100%;
}
.cm-container .cm-article .cm-product .cm-product-description .cm-title-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}
.cm-container .cm-article .cm-product .cm-product-description .cm-title-description .title-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}
.cm-container .cm-article .cm-product .cm-product-description .cm-title-description .title-info p {
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
}
.cm-container .cm-article .cm-product .cm-product-description .cm-title-description .title-info .hr {
  border: 1px solid rgb(21, 21, 21);
  width: 6em;
  height: 1.25px;
}
.cm-container .cm-article .cm-product .cm-product-description .cm-title-description .title-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}
.cm-container .cm-article .cm-product .cm-product-description .cm-title-description .title-description h2 {
  font-size: 1.65em;
}
.cm-container .cm-article .cm-product .cm-product-description .cm-title-description .title-description p {
  font-size: 1em;
}
.cm-container .cm-article .cm-img-product5 {
  margin-top: 3.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cm-container .cm-article .cm-img-product5 img {
  max-width: 100%;
}
.cm-container footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cm-container footer .cm-img-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5em 0 7em 0;
}
.cm-container footer .cm-img-footer img {
  width: 50%;
}

@media (max-width: 1240px) {
  #cm-custommerce-product {
    padding: 0 20px;
  }
}
@media (max-width: 950px) {
  .cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-title h1 {
    font-size: 2.3em;
  }
  .cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-title .cm-info {
    font-size: 1em;
  }
  .cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-packshot {
    bottom: -65px;
  }
  .cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-packshot img {
    max-width: 85%;
  }
  .cm-container .cm-article {
    margin-top: 6.5em;
  }
  .cm-container .cm-article .cm-title-section .title-info p {
    font-size: 1em;
  }
  .cm-container .cm-article .cm-title-section .hr {
    width: 8em;
    margin-top: 1em;
  }
  .cm-container .cm-article .cm-title-section .title h2 {
    font-size: 1.8em;
  }
  .cm-container .cm-article .cm-title-section .short-description p {
    font-size: 1em;
  }
  .cm-container .cm-article .cm-images {
    margin: 3em 0 2em 0;
  }
  .cm-container .cm-article .cm-images .cm-section-img {
    max-width: 250px;
    pointer-events: none;
  }
  .cm-container .cm-article .cm-images .cm-section-img .cm-img-background {
    display: none;
  }
  .cm-container .cm-article .cm-images .cm-section-img .cm-img-description {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  .cm-container .cm-article .cm-product {
    margin: 3em 0 4em 0;
    gap: 4em;
  }
  .cm-container .cm-article .cm-product .cm-product-description .cm-title-description .title-info p {
    font-size: 1em;
  }
  .cm-container .cm-article .cm-product .cm-product-description .cm-title-description .title-description {
    gap: 1.5em;
  }
  .cm-container .cm-article .cm-product .cm-product-description .cm-title-description .title-description h2 {
    font-size: 1.4em;
  }
  .cm-container .cm-article .cm-product .cm-product-description .cm-title-description .title-description p {
    font-size: 0.9em;
  }
  .cm-container footer .cm-img-footer {
    margin: 3em 0 5em 0;
  }
}
@media (max-width: 800px) {
  #cm-custommerce-product {
    padding: 0 10px;
  }
  .cm-container .cm-product-logo {
    padding-top: 3.5em;
  }
  .cm-container .cm-article .cm-images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2em;
  }
  .cm-container .cm-article .cm-images .cm-section-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
    gap: 2em;
  }
  .cm-container .cm-article .cm-images .cm-section-img .cm-img {
    max-width: 100%;
  }
  .cm-container .cm-article .cm-images .cm-section-img .cm-img img {
    width: 200px;
  }
  .cm-container .cm-article .cm-images .cm-section-img .cm-img .cm-img-title {
    font-size: 1.4em;
  }
  .cm-container .cm-article .cm-images .cm-section-img .cm-img-description {
    margin: 0;
  }
  .cm-container .cm-article .cm-product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3em;
  }
  .cm-container .cm-article .cm-product .cm-product-img {
    display: contents;
  }
  .cm-container .cm-article .cm-product .cm-product-img img {
    max-width: 350px;
  }
  .cm-container .cm-article .cm-product .cm-product-description {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 500px;
  }
  .cm-container .cm-article .cm-product .cm-product-description .title-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cm-container .cm-article .cm-product .cm-product-description .title-description {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cm-container .cm-article .cm-product .cm-product-description .title-description p {
    text-align: center;
  }
}
@media (max-width: 650px) {
  .cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-title {
    width: 60%;
  }
  .cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-packshot {
    bottom: 20px;
    margin-left: 30px;
  }
  .cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-packshot img {
    max-width: 100%;
  }
}
@media (max-width: 574px) {
  .cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-title {
    width: 65%;
    left: 2em;
    bottom: 1.7em;
  }
  .cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-title h1 {
    font-size: 1.8em;
  }
  .cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-title .cm-info {
    font-size: 0.9em;
  }
  .cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-packshot {
    bottom: 20px;
    margin-left: 40px;
  }
  .cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-packshot img {
    max-width: 100%;
  }
}
@media (max-width: 440px) {
  .cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-title {
    left: 1em;
    bottom: 1.7em;
  }
  .cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-title h1 {
    font-size: 1.5em;
  }
  .cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-title .cm-info {
    font-size: 0.8em;
  }
  .cm-container .cm-article {
    margin-top: 4.5em;
  }
  .cm-container .cm-article .cm-title-section .title-info p {
    font-size: 0.9em;
  }
  .cm-container .cm-article .cm-title-section .title h2 {
    font-size: 1.5em;
  }
  .cm-container .cm-article .cm-images {
    margin-top: 2em;
  }
  .cm-container .cm-article .cm-images .cm-section-img {
    gap: 2em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 80%;
  }
  .cm-container .cm-article .cm-product .cm-product-img img {
    max-width: 300px;
  }
  .cm-container .cm-article .cm-product .cm-product-description .cm-title-description {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cm-container .cm-article .cm-product .cm-product-description .cm-title-description .title-info p {
    font-size: 0.9em;
  }
  .cm-container .cm-article .cm-product .cm-product-description .cm-title-description .title-description {
    max-width: 90%;
  }
  .cm-container .cm-article .cm-title-section .title-info p {
    font-size: 0.9em;
  }
  .cm-container .cm-article .cm-title-section .title h2 {
    font-size: 1.5em;
  }
  .cm-container .cm-article .cm-title-section .short-description {
    max-width: 90%;
  }
  .cm-container .cm-article .cm-title-section .short-description p {
    font-size: 0.9em;
  }
}
@media (max-width: 380px) {
  .cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-title {
    bottom: 1em;
  }
  .cm-container .cm-top-banner .cm-card .cm-row .cm-col .cm-packshot {
    margin-left: 15px;
  }
}/*# sourceMappingURL=style.css.map */